.toast {
    display: flex;
    justify-content: space-between;
    padding: 0rem 1rem;
    align-items: center;
    position: fixed;
    bottom: 8px;
    border-radius: 3pt;
    z-index: 100000;
    height: 8%;
    width: 25%;
    font-weight: bold;
    font-size: small;
    background-color: rgb(255, 255, 255);
    font-family: 'Open Sans';
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12)
}

.toast.show {
    animation: slide-in .8s ease-in;
}

.toast.hide {
    animation: slide-out .3s ease-in;
}

.toast.success {
    border-top: solid 4px #66f387;
    background-color: rgb(216, 249, 216);
    color: rgb(0, 140, 0);
}

.toast.fail {
    border-top: solid 4px darkred;
    color: rgb(65, 0, 0)
}

.toast.info {
    border-top: solid 4px darkslateblue;
    background-color: lightsteelblue;
    color: darkslateblue;
}

@keyframes slide-in {
    from {
        left: -500px;
        transform: skew(50deg, 80deg)
    }

    to {
        left: 0px;
        transform: skew(0deg, 0deg)
    }
}

@keyframes slide-out {
    from {
        transform: skew(0deg, 0deg);
        left: 0px;
    }

    to {
        transform: skew(50deg, 80deg);
        left: -500px;
    }
}

