.wrapper {
  z-index: 1000;
  background-color: rgba(173, 216, 230, 0.153);
}

.two-col-grid {
  display: grid;
  grid-auto-rows: 1fr;
  grid-auto-flow: row;
}

.name-field {
  color: white;
  border: 1px solid white;
  padding: .5rem;
}

.name-field:hover {
  text-decoration: underline;
  cursor: pointer;
  background-color: rgb(35, 126, 126);
  text-underline-position: below;
}

.title-row {
  margin: 0;
  /* display: flex; */
}

.name-rows {
  display: grid;
  /* grid-auto-columns: 1fr; */
  /* grid-auto-flow: row; */
  grid-auto-columns: 1fr;
  background-color: grey;
}

.day-field {
  font-size: x-small;
  padding: .4rem;
  margin: 0;
  color: white;
  border: 1px solid white;
  transition: .3s ease-in;
}

.day-cols {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  grid-column-start: 2;
  grid-column-end: 9;
}

