.title {
  margin: 0;
  font-size: 3rem;
  font-family: Roboto;
  color: #4bda90;
}

.sub-title {
  font-style: oblique;
  color: rgb(149, 185, 198);
}

.body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: .875rem;
  color: rgb(36, 36, 36);
  margin: .75rem 0.3rem;
}