:root {
  --main-bg-color: linear-gradient(160deg, rgba(36, 30, 150, 0) 35%, rgba(9,9, 121, 1) 35%, rgba(150,0,255,1) 89%);
  --active-input-color: antiquewhite;
}

.header {
  font-family: Oswald;
  line-height: 5.4rem;
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  text-align: center;
  align-items: center;
  background: #222;
  padding: 3rem;
  transition: all 500ms ease-in-out;
}

.header-title {
  z-index: 1;
  font-size: 7rem;
  color: #e4e1d8;
  margin-top: 3rem;
}

.header-subtitle {
  z-index: 1;
  line-height: 2rem;
  color: lavender;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header-shape {
  position: absolute;
  object-fit: cover;
  z-index: 0;
  opacity: .5;
  clip-path: polygon(11% 8%, 38% 36%, 49% 47%, 39% 47%, 15% 47%, 28% 62%, 47% 88%, 21% 28%);
  background: rgb(229, 255, 0);
  background: linear-gradient(130deg, rgba(0,212,255,0) 16%, #e4e1d869 54%);
  width: 500px;
  height: 100%;
  right: 10px;
  transform: scale(3, 3) skew(20deg, 0deg);
  /* animation: bolt forwards 3s alternate-reverse infinite; */
  transition: all ease-in-out;
}

.hide {
  visibility: hidden;
}

.blur {
  filter: blur(.5rem);
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
    box-shadow: 0px 0px 5px 5px lavender;
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-duration: 1500ms;
  animation-name: pulse;
  animation-timing-function: ease-in-out;
}

