.input {
  border-radius: 5pt;
  border: 2px solid transparent;
  min-width: 95%;
  margin: .1rem 0rem;
  padding: .35rem;
  font-family: 'Open Sans';
  color: rgb(3, 12, 38);
  outline: none;
  transition: 0.3s;
}

.ico-success {
  position: absolute;
  color: #2ecc71;
}

.input::placeholder {
  color: rgb(206, 206, 206);
}

.correct {
  border-color: #2ecc71;
}

.error {
  border-color: rgb(218, 6, 6);
}

.error-text {
  margin: 0rem .25rem;
  font-size: x-small;

}
